.firstCol,
.secondCol,
.thirdCol {
  display: flex;
  gap: 20px;
  padding: 10px;
  flex-direction: column;
  direction: rtl;
  float: right;
  justify-content: center;
  color: rgb(197, 197, 197);
  background-color: rgb(81, 80, 80);
  width: 30.8%;
  height: 290px;
}
.container {
  background-color: rgb(81, 80, 80);
  font-family: BNazanin;
  margin-right: 30px;
  margin-top: 20px;
}
select {
  width: 310px;
  height: 39px;
  color: rgb(197, 197, 197);
}
input {
  width: 300px;
  height: 30px;
  background-color: rgb(81, 80, 80);
  border: 1px solid rgb(197, 197, 197);
  color: rgb(197, 197, 197);
}
textarea,
select {
  background-color: rgb(81, 80, 80);
  border: 1px solid rgb(197, 197, 197);
  color: rgb(197, 197, 197);
}
input::placeholder {
  color: rgb(197, 197, 197);
  font-size: 11px;
  padding-top: 10px;
  padding-right: 10px;
}
input:hover {
  border: 1px solid rgb(246, 201, 14);
}
textarea:hover {
  border: 1px solid rgb(246, 201, 14);
}
select:hover {
  border: 1px solid rgb(246, 201, 14);
}
textarea::placeholder {
  color: rgb(197, 197, 197);
  font-size: 11px;
  padding-top: 10px;
  padding-right: 10px;
}

label {
  font-size: 16px;
}
textarea {
  width: 320px;
  height: 80px;
  border-radius: 10px;
}
label {
  border-right: 8px solid rgb(246, 201, 14);
  padding-right: 10px;
}

.formButtons {
  display: flex;
  flex-column: row;
  gap: 20px;
  justify-content: flex-end;
  margin-left: 40px;
}
.save {
  background-color: rgb(246, 201, 14);
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 4px;
  color: gray;
  font-size: 12px;
  left: auto;
  font-weight: bold;
}
.cancle {
  width: 70px;
  height: 35px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  color: rgb(197, 197, 197);
  font-size: 12px;
}
